{% extends 'core/base.html' %} 
{% load static %}
{% block title %}Team {%endblock %} 
{%block active_team%}active{%endblock%}
{% block why-us %}
<section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="{% static 'core/assets/img/TG.png' %}" class="img-fluid" alt="">
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Trascender Global</a></h4>
              <p class="description"> Colombian startup that implements technologies of the 4.0 revolution, such as artificial intelligence, data analytics, platform development, among others.</p>
              <a href="https://trascenderglobal.com/">Visit our webpage</a>
            </div>

            <!-- <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div> -->

          </div>
        </div>

      </div>
    </section>
{% endblock %}